$primaryColor: black;
$secondaryColor: #333;
$hoverColor: #ffc107;
$animationDuration: 0.5s;

.FaqPage {
  margin-top: 6.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0;
  font-family: "Poppins";
}

@media screen and (max-width: 500px) {
  .FaqPage {
    margin-top: 5rem;
  }
}
