.book-table {
  padding: 1rem;
  height: max-content;
  overflow: scroll;

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    height: 800px;

    label {
      font-weight: bold;
    }

    input[type="number"],
    textarea {
      width: 20%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      resize: vertical;
      height: 120px;
    }

    fieldset {
      border: none;
      padding: 0;
      margin: 0;

      legend {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      label {
        display: block;
        margin-bottom: 0.5rem;

        input[type="radio"] {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
