.Menu-page {
  // display: flex;
  margin-top: 6.5rem;

  h4 {
    text-align: center;
  }

  .vertical-line-container {
    .vertical-line {
      border-left: 1px solid black;
      height: 1rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 1rem;
  }

  @media screen and (max-width: 500px) {
    margin-top: 5rem;
    padding: 0rem 0.5rem;

    ul {
      padding: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
