.header {
  .main-icon {
    width: 5rem;
    height: 4.2rem;
    @media (max-width: 700px) {
      width: 6rem;
      height: 4.5rem;

      rect {
        width: 6rem;
        height: 5rem;
      }
    }

    @media (max-width: 500px) {
      width: 4rem;
      height: 3rem;

      rect {
        width: 4.5rem;
        height: 5rem;
      }
    }
  }
}

.cart-button {
  width: min-content;
  height: min-content;
  svg,
  svg > rect {
    width: 2.3rem;
    height: 1.8125rem;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: -30px;

  img {
    height: 40px;
    border-radius: 20px;
  }
}
