.display-reviews-container {
  display: flex;
  justify-content: center;
}

.link {
  width: fit-content;
  height: 2.5rem;
  padding: 0.188rem 1.5rem;
  border: 1px solid #222;
  font-family: "Josefin-sans-bold";
  font-size: 0.8rem;
  box-sizing: border-box;
  transition: all 0.2s;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.09rem;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &:hover {
    color: white;
    background-color: rgba(4, 120, 87, 0.9098039216);
    border: 1px solid white;
  }
}
