.Your-reservations {
  margin-top: 6.5rem;
  font-family: "Poppins";
  padding: 1rem;

  h2 {
    font-size: 2rem;
    text-align: center;
    font-family: "Petrona-italic";
    margin-bottom: 2rem;
  }
}
