body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Josefin-sans";
  src: local("Josefin-sans"),
    url("./assets/fonts/static/JosefinSans-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Josefin-sans-bold";
  src: local("Josefin-sans-bold"),
    url("./assets/fonts/static/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins-light";
  src: local("Poppins-light"),
    url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-bold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins-bold-italic";
  src: local("Poppins-bold-italic"),
    url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Electrolize";
  src: local("Electrolize"),
    url("./assets/fonts/Electrolize-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Petrona-italic";
  src: local("Petrona-italic"),
    url("./assets/fonts/Petrona-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Petrona";
  src: local("Petrona"),
    url("./assets/fonts/Petrona-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins-light-italic";
  src: local("Poppins-light-italic"),
    url("./assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Crimson";
  src: local("Crimson"),
    url("./assets/fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Crimson-semibold";
  src: local("Crimson-semibold"),
    url("./assets/fonts/CrimsonText-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Crimson-bold";
  src: local("Crimson-bold"),
    url("./assets/fonts/CrimsonText-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Crimson-bold";
  src: local("Crimson-bold"),
    url("./assets/fonts/CrimsonText-Bold.ttf") format("truetype");
  font-weight: bold;
}
