.Contact-page {
  margin-top: 6.5rem;

  h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;

    & > div:first-child {
      margin-top: 2rem;
      height: 8rem;
    }
  }

  h2 {
    width: 100%;
    text-align: start;
  }
  // align-items: center;

  a {
    justify-content: flex-start;
    text-decoration: none;
    color: black;
    font-style: normal;
    line-height: normal;
    border-bottom: 1px solid rgb(172, 172, 172);

    &:hover {
      color: #a6796f;
    }
  }

  .input-container {
    //   margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    //   gap: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .Contact-page {
    margin-top: 5rem;

    .content-container {
      padding: 1rem;
    }
  }
}
